.iconSize{
    width: var(--measureDimensionSpacing4);
    height: var(--measureDimensionSpacing4);
}

.text{
    font-family: 'DM Sans', sans-serif;
    font-size: var(--measureDimensionTypographyFontSize2, 14px);
    font-weight: 400;
    font-style: normal;
    line-height: var(--measureDimensionTypographyLineHeight2,  20px);
    color: #FFF;
    letter-spacing: var(--measureDimensionTypographyLetterSpacing2, 0.01em);
}


.toastBanner {
    opacity: 0;
    transform: translateY(-90px);
    transition: 
        opacity 100ms ease-in-out,
        transform 100ms ease-in-out;
}


.toastBanner--visible {
    opacity: 1;
    transform: translateY(0);
    transition: 
        opacity 100ms ease-in-out,
        transform 100ms ease-in-out;
}